<<<<<<< HEAD
.get-users-btn, .get-cars-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.get-users-btn:hover, .get-cars-btn:hover {
    background-color: #45a049;
=======
.contentAdmin {
    height: calc(100vh - 80px); /* Full screen minus the height of the header */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjust content alignment */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
    padding-top: 20px; /* Space between header and content */
    margin-top: 80px; /* Ensures the content starts below the fixed header */
    text-align: center; /* Centering the text inside containers */
    padding-bottom: 20px;
}

.admin-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    padding: 20px;
    background-color: #1c1921;
    color: aquamarine;
    font-family: "Playwrite GB S", cursive;
    height: 80px; /* Set the height of the header */
}

.admin-header h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: aquamarine;
>>>>>>> frontend
}

.users-section {
    margin-bottom: 40px;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
<<<<<<< HEAD
=======
    justify-content: center; /* Center the cards horizontally */
    margin: 0 auto; /* Center the list container */
    padding: 0 20px; /* Add padding to left and right */
    max-width: 1200px; /* Optional: limit the width of the list */
>>>>>>> frontend
}

.user-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
=======
    text-align: center;
    margin-bottom: 40px; /* Increase margin-bottom to add more space below each card */
>>>>>>> frontend
}

.user-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.user-card p {
    margin: 5px 0;
}

.cars-section {
    margin-top: 40px;
}

.cars-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
<<<<<<< HEAD
=======
    justify-content: center; /* Center the cards horizontally */
    margin: 0 auto; /* Center the list container */
    padding: 0 20px; /* Add padding to left and right */
    max-width: 1200px; /* Optional: limit the width of the list */
>>>>>>> frontend
}

.car-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
=======
    margin-bottom: 40px; /* Increase margin-bottom to add more space below each card */
>>>>>>> frontend
}

.car-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.car-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.car-card p {
    margin: 5px 0;
}

#adminDashboard {
    padding: 20px;
}

.fetch-buttons {
    display: flex;
    gap: 20px;
<<<<<<< HEAD
    margin-bottom: 20px;
}

.get-availability-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.get-availability-btn:hover {
    background-color: #45a049;
=======
    margin-bottom: 40px; /* Increase margin-bottom to create space below the buttons */
    justify-content: center; /* Center the buttons horizontally */
    width: 100%; /* Ensure the buttons container stretches across the full width */
    padding: 0 20px; /* Add padding for spacing from edges */
}

.button-container {
    display: flex;
    justify-content: center;  /* Centers items horizontally */
    align-items: center;      /* Centers items vertically */
>>>>>>> frontend
}

.availabilities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
<<<<<<< HEAD
=======
    justify-content: center; /* Center the cards horizontally */
    margin: 0 auto; /* Center the list container */
    padding: 0 20px; /* Add padding to left and right */
    max-width: 1200px; /* Optional: limit the width of the list */
>>>>>>> frontend
}

.availability-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
<<<<<<< HEAD
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
=======
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* Increase margin-bottom to add more space below each card */
>>>>>>> frontend
}

.availability-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.availability-card p {
    margin: 5px 0;
<<<<<<< HEAD
}
=======
}

.get-users-btn, .get-cars-btn, .get-availability-btn {
    padding: 20px 20px;
    width: 1060px; /* Set a specific width */
    height: 45px;
    font-size: 16px;
    background-color: aquamarine;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    align-self: center;
    display: block; /* Ensure the button is a block element */
    margin-left: auto; /* Center button horizontally */
    margin-right: auto; /* Center button horizontally */
}

.get-users-btn:hover, .get-cars-btn:hover, .get-availability-btn:hover {
    background-color: rgb(86, 170, 142);
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}
>>>>>>> frontend
